* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  align-items: center !important;
}

.App {
  align-items: center !important;
}

.center {
  margin-top: 10px !important;
}

.left {
  padding-left: 100px;
}